## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [2]:
# View the column names in the data
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [3]:
# Use the describe function to gather some basic statistics
stats = df.describe()
print(stats)

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.

In [5]:
# What three item categories had the most entries?
top_three_categories = df['category'].value_counts().head(3)
print(top_three_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [6]:
# For the category with the most entries, which subcategory had the most entries?

most_common_category = df['category'].value_counts().idxmax()

filtered_df = df[df['category'] == most_common_category]

sub_category_counts = filtered_df['subcategory'].value_counts()

most_common_subcategory = sub_category_counts.head(1)


print(most_common_subcategory)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [7]:
# Which five clients had the most entries in the data?


client_counts = df['client_id'].value_counts()

top_five_clients = client_counts.head(5)

print(top_five_clients)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [8]:
# Store the client ids of those top 5 clients in a list.


client_counts = df['client_id'].value_counts()

top_five_clients = client_counts.head(5)

top_five_client_ids = top_five_clients.index.tolist()

print(top_five_client_ids)

[33615, 66037, 46820, 38378, 24741]

In [9]:
# How many total units (the qty column) did the client with the most entries order order?

most_common_client_id = df['client_id'].value_counts().idxmax()

filtered_df = df[df['client_id'] == most_common_client_id]

total_units_ordered = filtered_df['qty'].sum()

print(f"Total units ordered by the client with the most entries (client_id: {most_common_client_id}): {total_units_ordered}")

Total units ordered by the client with the most entries (client_id: 33615): 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [22]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty

df['line_subtotal'] = df['unit_price'] * df['qty']

df[["unit_price", "qty", "line_subtotal"]].head(5)

   unit_price  qty  line_subtotal
0     1096.80  105      115164.00
1       24.95   21         523.95
2       13.52   39         527.28
3       36.42   29        1056.18
4      195.10   20        3902.00

In [24]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.

df['total_weight'] = df['unit_weight'] * df['qty']

df['shipping_price'] = df['total_weight'].apply(lambda x: 7 * x if x > 50 else 10 * x)

df[["unit_price", "unit_weight", "qty", "total_weight", "shipping_price"]].head(5)

   unit_price  unit_weight  qty  total_weight  shipping_price
0     1096.80         7.50  105        787.50         5512.50
1       24.95         1.49   21         31.29          312.90
2       13.52         1.68   39         65.52          458.64
3       36.42         1.23   29         35.67          356.70
4      195.10        46.43   20        928.60         6500.20

In [25]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%

sales_tax_rate = 9.25 / 100

df['line_price'] = df.apply(lambda row: (row['line_subtotal'] + row['shipping_price']) * (1 + sales_tax_rate), axis=1)

df[["line_subtotal", "shipping_price", "line_price"]].head(5)

   line_subtotal  shipping_price     line_price
0      115164.00         5512.50  131839.076250
1         523.95          312.90     914.258625
2         527.28          458.64    1077.117600
3        1056.18          356.70    1543.571400
4        3902.00         6500.20   11364.403500

In [20]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).


df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']

In [26]:
# Create a column for the profit of each line using line cost and line price

df['line_profit'] = df['line_price'] - df['line_cost']

df[["unit_cost", "qty", "shipping_price", "line_cost", "line_price", "line_profit"]].head(5)

   unit_cost  qty  shipping_price  line_cost     line_price   line_profit
0     762.71  105         5512.50   85597.05  131839.076250  46242.026250
1      15.09   21          312.90     629.79     914.258625    284.468625
2       7.86   39          458.64     765.18    1077.117600    311.937600
3      24.85   29          356.70    1077.35    1543.571400    466.221400
4     108.17   20         6500.20    8663.60   11364.403500   2700.803500

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [33]:
# Check your work using the totals above

receipts = {
    2742071: 152811.89,
    2173913: 162388.71,
    6128929: 923441.25
}

for order_id, expected_total in receipts.items():
    calculated_total = order_totals.get(order_id, 0)
    if abs(calculated_total - expected_total) < 0.01:  # Allowing a small margin for floating-point precision
        result = 'matches'
    else:
        result = 'does not match'
    print(f"Order ID {order_id}: Calculated total ${calculated_total:.2f} {result} the receipt total ${expected_total:.2f}")

Order ID 2742071: Calculated total $152811.90 matches the receipt total $152811.89
Order ID 2173913: Calculated total $162388.72 matches the receipt total $162388.71
Order ID 6128929: Calculated total $923441.24 matches the receipt total $923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [30]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.

top_clients = df.groupby('client_id')['qty'].sum().nlargest(5).index

total_spent_by_top_clients = df[df['client_id'].isin(top_clients)].groupby('client_id')['line_price'].sum()

print(total_spent_by_top_clients)

client_id
30143    3.332885e+07
77354    7.194265e+07
78965    6.559237e+08
85931    2.374170e+08
86721    1.812663e+08
Name: line_price, dtype: float64

In [ ]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit.

In [ ]:
# Format the data and rename the columns to names suitable for presentation.

# Define the money columns. 


# Define a function that converts a dollar amount to millions.


# Apply the currency_format_millions function to only the money columns. 


# Rename the columns to reflect the change in the money format.

In [ ]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.